iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 160px;
  height: 100%;
  background-color: beige;
}

.container {
  position: relative;
  left: 190px;
}
@media print {
  iframe {
    display: none;
  }
  .container {
    left: 0;
  }
}
